<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>/WEB-INF/jspSivut/index.html</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>ostasivu</servlet-name>
        <jsp-file>/WEB-INF/jspSivut/osta/index.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>manuaalitsivu</servlet-name>
        <jsp-file>/WEB-INF/jspSivut/osta/varusteet/manuaalit/index.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>oppaatsivu</servlet-name>
        <jsp-file>/WEB-INF/jspSivut/osta/varusteet/oppaat/index.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>ayskarisivu</servlet-name>
        <jsp-file>/WEB-INF/jspSivut/osta/varusteet/ayskari/index.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>varatappisivu</servlet-name>
        <jsp-file>/WEB-INF/jspSivut/osta/varusteet/varatappi/index.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>airosivu</servlet-name>
        <jsp-file>/WEB-INF/jspSivut/osta/varusteet/airo/index.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>melasivu</servlet-name>
        <jsp-file>/WEB-INF/jspSivut/osta/varusteet/mela/index.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>perasinsivu</servlet-name>
        <jsp-file>/WEB-INF/jspSivut/osta/varusteet/perasin/index.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>mastosivu</servlet-name>
        <jsp-file>/WEB-INF/jspSivut/osta/varusteet/masto/index.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>aurinkovarjosivu</servlet-name>
        <jsp-file>/WEB-INF/jspSivut/osta/varusteet/aurinkovarjo/index.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>sateenvarjosivu</servlet-name>
        <jsp-file>/WEB-INF/jspSivut/osta/varusteet/sateenvarjo/index.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>aurinkotoiminenjaakaappisivu</servlet-name>
        <jsp-file>/WEB-INF/jspSivut/osta/varusteet/aurinkotoiminen jaakaappi/index.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>ankkurisivu</servlet-name>
        <jsp-file>/WEB-INF/jspSivut/osta/varusteet/ankkuri/index.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>tarjoilupoytasivu</servlet-name>
        <jsp-file>/WEB-INF/jspSivut/osta/varusteet/tarjoilupoyta/index.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>kansituolisivu</servlet-name>
        <jsp-file>/WEB-INF/jspSivut/osta/varusteet/kansituoli/index.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>pelastusrengassivu</servlet-name>
        <jsp-file>/WEB-INF/jspSivut/osta/varusteet/pelastusrengas/index.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>vissysivusivu</servlet-name>
        <jsp-file>/WEB-INF/jspSivut/osta/varusteet/vissypullo/index.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>pehmustettutuhtosivu</servlet-name>
        <jsp-file>/WEB-INF/jspSivut/osta/varusteet/pehmustettu tuhto/index.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>kultainenkeulakoristesivu</servlet-name>
        <jsp-file>/WEB-INF/jspSivut/osta/varusteet/kultainen keulakoriste/index.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>tietoasivu</servlet-name>
        <jsp-file>/WEB-INF/jspSivut/tietoa/index.html</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>yhteystiedotsivu</servlet-name>
        <jsp-file>/WEB-INF/jspSivut/yhteystiedot/index.html</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>asiakaspalstasivu</servlet-name>
        <jsp-file>/WEB-INF/jspSivut/asiakaspalsta/index.html</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>singINsivu</servlet-name>
        <jsp-file>/WEB-INF/jspSivut/singIN/index.html</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>unohtunutsssivu</servlet-name>
        <jsp-file>/WEB-INF/jspSivut/singIN/unohtunutss/index.html</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>singupsivu</servlet-name>
        <jsp-file>/WEB-INF/jspSivut/singIN/singup/index.html</jsp-file>
    </servlet>
        
        
    <servlet-mapping>
        <servlet-name>ostasivu</servlet-name>
        <url-pattern>/osta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>manuaalitsivu</servlet-name>
        <url-pattern>/osta/varusteet/manuaali</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>oppaatsivu</servlet-name>
        <url-pattern>/osta/varusteet/oppaat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ayskarisivu</servlet-name>
        <url-pattern>/osta/varusteet/ayskari</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>varatappi</servlet-name>
        <url-pattern>/osta/varusteet/varatappi</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>airosivu</servlet-name>
        <url-pattern>/osta/varusteet/airo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>perasinsivu</servlet-name>
        <url-pattern>/osta/varusteet/perasin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mastosivu</servlet-name>
        <url-pattern>/osta/varusteet/masto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>aurinkovarjosivu</servlet-name>
        <url-pattern>/osta/varusteet/aurinkovarjo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sateenvarjosivu</servlet-name>
        <url-pattern>/osta/varusteet/sateenvarjo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>aurinkotoiminenjaakaappisivu</servlet-name>
        <url-pattern>/osta/varusteet/aurinkotoiminenjaakaappi</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ankkurisivu</servlet-name>
        <url-pattern>/osta/varusteet/ankkuri</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>tarjoilupoytasivu</servlet-name>
        <url-pattern>/osta/varusteet/tarjoilupoyta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>kansituolisivu</servlet-name>
        <url-pattern>/osta/varusteet/kansituoli</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>pelastusrengassivu</servlet-name>
        <url-pattern>/osta/varusteet/pelastusrengas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>vissysivu</servlet-name>
        <url-pattern>/osta/varusteet/vissy</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>pehmustettutuhtosivu</servlet-name>
        <url-pattern>/osta/varusteet/pehmustettu tuhto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>kultainenkeulakoristesivu</servlet-name>
        <url-pattern>/osta/varusteet/kultainen keulakoriste</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>airosivu</servlet-name>
        <url-pattern>/osta/varusteet/airo</url-pattern>
    </servlet-mapping>
   
    <servlet-mapping>
        <servlet-name>tietoasivu</servlet-name>
        <url-pattern>/tietoa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>yhteystiedotsivu</servlet-name>
        <url-pattern>/yhteystiedot</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>asiakaspalstasivu</servlet-name>
        <url-pattern>/asiakaspalsta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>singINsivu</servlet-name>
        <url-pattern>/singIn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>unohtunutsssivu</servlet-name>
        <url-pattern>/singIn/unohtunutss</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>singupsivu</servlet-name>
        <url-pattern>/singIn/singup</url-pattern>
    </servlet-mapping>
    
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
