<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>CharacterEncodingFilter</filter-name>
        <filter-class>org.apache.catalina.filters.CorsFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
        <init-param>
            <param-name>forceEncoding</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>CharacterEncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    
    <welcome-file-list>
        <welcome-file>/WEB-INF/jspSivut/index.html</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>ostasivu</servlet-name>
        <jsp-file>/WEB-INF/jspSivut/osta/index.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>kaleeri</servlet-name>
        <jsp-file>/WEB-INF/jspSivut/osta/mallit/kaleeri/index.html</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>kaleeriDelux</servlet-name>
        <jsp-file>/WEB-INF/jspSivut/osta/mallit/kaleeriDelux/index.html</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>purjevene</servlet-name>
        <jsp-file>/WEB-INF/jspSivut/osta/mallit/purjevene/index.html</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>soutuvene</servlet-name>
        <jsp-file>/WEB-INF/jspSivut/osta/mallit/soutuvene/index.html</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>varuste</servlet-name>
        <jsp-file>/WEB-INF/jspSivut/osta/varuste/index.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>tietoasivu</servlet-name>
        <jsp-file>/WEB-INF/jspSivut/tietoa/index.html</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>yhteystiedotsivu</servlet-name>
        <jsp-file>/WEB-INF/jspSivut/yhteystiedot/index.html</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>asiakaspalstasivu</servlet-name>
        <jsp-file>/WEB-INF/jspSivut/asiakaspalsta/index.html</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>singIn</servlet-name>
        <jsp-file>/WEB-INF/jspSivut/singIn/index.html</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>singup</servlet-name>
        <jsp-file>/WEB-INF/jspSivut/singIn/singup/index.html</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>unohtunutss</servlet-name>
        <jsp-file>/WEB-INF/jspSivut/singIn/unohtunutss/index.html</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>varusteVirhe</servlet-name>
        <jsp-file>/WEB-INF/jspSivut/virheet/varusteVirhe/index.html</jsp-file>
    </servlet>
            
        
    <servlet-mapping>
        <servlet-name>ostasivu</servlet-name>
        <url-pattern>/osta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>kaleeri</servlet-name>
        <url-pattern>/osta/mallit/kaleeri</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>kaleeriDelux</servlet-name>
        <url-pattern>/osta/mallit/kaleeriDeLux</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>purjevene</servlet-name>
        <url-pattern>/osta/mallit/purjevene</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>soutuvene</servlet-name>
        <url-pattern>/osta/mallit/soutuvene</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>varuste</servlet-name>
        <url-pattern>/osta/varuste</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>tietoasivu</servlet-name>
        <url-pattern>/tietoa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>yhteystiedotsivu</servlet-name>
        <url-pattern>/yhteystiedot</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>asiakaspalstasivu</servlet-name>
        <url-pattern>/asiakaspalsta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>singIn</servlet-name>
        <url-pattern>/singIn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>singup</servlet-name>
        <url-pattern>/singIn/singup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>unohtunutss</servlet-name>
        <url-pattern>/singIn/unohtunutss</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>varusteVirhe</servlet-name>
        <url-pattern>/virheet/varusteVirhe</url-pattern>
    </servlet-mapping>
       
</web-app>
