/* Drop down list with images */
#ddList-fruitList1 > a,
#ddList-fruitList2 > a,
#ddList-fruitList1 > ul li a,
#ddList-fruitList2 > ul li a {
    padding: 2%;
}
#ddList-fruitList1 img,
#ddList-fruitList2 img {
    max-width: 40px;
}
#ddList-fruitList1 label,
#ddList-fruitList2 label {
    display: inline-block;
    margin-top: 5px;
}
/* Drop down list with images on the right side */
#ddList-fruitList2 > a > img,
#ddList-fruitList2 > ul li a > img { 
    float: right; 
    margin-right: 0; 
    margin-left: 5px;
}

