
.kek{
    margin-top: 100px;
}
.kek .col-md-7 {
   margin-top: auto;

    text-align: center;
}

.kek .col-md-7 p {
    margin-right: 10px;
    margin-left: 10px;
}
    
.kek .col-md-5{
    margin-top: 50px;
    margin:auto;
    margin-bottom: 15px;
    
}
.container .col-md-7 {
    margin-bottom: 3%;
    
}

.container .col-md-5 {
    margin-bottom: 3%;
}
